        <section class="about-me-section">
            <div class="about-image-container">
                <img src="your-main-profile-pic.jpg" alt="Your Profile Picture" class="about-profile-pic">
            </div>
            <div class="about-content-container">
                <h2>About Me</h2>
                <p>
                    abc
                </p>
                <p>
                    abc
                </p>
            </div>
        </section>

        <!-- <section id="work-experience" class="work-experience-section">
        <h2>Work Experience</h2>
        <div class="experience-item">
            <div class="experience-details">
                <h3>Job Title 1</h3>
                <p class="company">Company Name | Location</p>
                <p class="duration">Start Date - End Date</p>
            </div>
            <ul class="job-responsibilities">
                <li>Responsibility or achievement 1.</li>
                <li>Responsibility or achievement 2.</li>
                <li>...</li>
            </ul>
        </div>

        <div class="experience-item">
            <div class="experience-details">
                <h3>Job Title 2</h3>
                <p class="company">Another Company | Location</p>
                <p class="duration">Start Date - Present</p>
            </div>
            <ul class="job-responsibilities">
                <li>Key task or contribution 1.</li>
                <li>Significant project outcome.</li>
                <li>...</li>
            </ul>
        </div>

        </section>

        <section id="certificates" class="certificates-section">
            <h2>Certificates</h2>
            <div class="certificate-container">
                <div class="certificate-item">
                    <img src="path/to/certificate1.jpg" alt="Certificate 1">
                    <h3>Certificate Title 1</h3>
                    <p class="issuing-authority">Issuing Authority</p>
                    <p class="date-earned">Date Earned</p>
                    </div>

                <div class="certificate-item">
                    <img src="path/to/certificate2.jpg" alt="Certificate 2">
                    <h3>Certificate Title 2</h3>
                    <p class="issuing-authority">Issuing Authority</p>
                    <p class="date-earned">Date Earned</p>
                    </div>
            </div>
</section> -->