    <main class="hero-section">
        <div class="intro">
            <div class="img-intro">
                <div class="text">
                <h1>Prakriti Acharya</h1>
                <p>I'm a computer programming student at Georgian college. Currently, on my last semester.</p>
                <button class="connect-button">Let's connect</button>
                </div>
            </div>
      <div class="photo">
        <img src="/images/profile01.jpg" alt="Profile" style="width:200px, ; "/>
      </div>
        </div>
    </main>
