    <main class="hero-section">
        <div class="intro">
            <div class="img-intro">
                <div class="text">
                <h1>Hi!</h1>
                <h2>I'm Prakriti Acharya </h2>
                <p>Welcome to my portfolio! I’m a passionate student currently studying computer programming and exploring the world of application development. I enjoy creating clean, functional, and responsive websites and applications using technologies like HTML, CSS, JavaScript, Python and more</p>
                <p>Interested in hiring me for your project or just want to say hi? You can fill in the contact form below or send me an email to prakritee.ac@gmail.com .Want to get connected? Follow me on the social channels below</p>
                <a href="/message" class="connect-button">Let's connect</a>
                </div>
            </div>
      <div class="photo">
        <img src="/images/profile01.jpg" alt="Profile" style="width:200px, ; "/>
      </div>
        </div>
    </main>
