
.hero-contact {
    width: 100%;
    height: 400px; /* Adjust height as needed */
    background-image: url('/images/aboutme.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px; /* To account for fixed navbar */
}

